services:
  web:
    container_name: online-shop-web
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
  db:
    container_name: online-shop-db
    image: postgres:17.5
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
  redis:
    container_name: shop-redis
    image: redis:8.4.0-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      interval: 1s
      timeout: 3s
      retries: 5
  celery:
    container_name: shop-celery
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    command: celery -A core.celery worker --loglevel=info --concurrency=2
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - PYTHONPATH=/app
  celery-beat:
    container_name: shop-celery-beat
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    command: celery -A core.celery beat --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - PYTHONPATH=/app
  flower:
    container_name: shop-flower
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    command: celery -A core flower --port=5555

    ports:
      - "5555:5555"
    depends_on:
      - redis
      - celery
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - PYTHONPATH=/app


volumes:
  postgres_data:
  redis_data:
