{% include "dashboard/login_header.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!-- LOGIN SECTION -->
<div class="section">
    <div class="container">
        <div class="login-container">
            <div class="login-header">
                <h2>Login to Your Account</h2>
            </div>
            <div class="login-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">{{ form|crispy }}</div>
                    <div class="form-group">
                        <div class="input-checkbox">
                            <input type="checkbox" id="remember" name="remember">
                            <label for="remember">
                                <span></span>
                                Remember me
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="primary-btn">Login</button>
                    </div>
                </form>
                <div class="login-footer">
                    <a href="{% url "password_reset" %}">Forgot Password?</a>
                    <a href="{% url "register-view" %}">Create New Account</a>
                </div>
                <div class="or-divider">
                    <span>OR</span>
                </div>
                <div class="social-login">
                    <a href="#" class="social-btn facebook-btn"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-btn google-btn"><i class="fa fa-google"></i></a>
                    <a href="#" class="social-btn twitter-btn"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /LOGIN SECTION -->
{% include "dashboard/footnote.html" %}
</body>
</html>
