{% load crispy_forms_filters %}
{% include "dashboard/login_header.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!-- PASSWORD RESET SECTION -->
<div class="section">
    <div class="container">
        <div class="login-container">
            <div class="login-header">
                <h2>Reset Your Password</h2>
            </div>
            <div class="login-body">
                {% if form.errors %}
                    <div class="alert alert-danger" style="margin-bottom: 20px;">
                        <ul id="form_errors">
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>
                                        <strong>{{ error }}</strong>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">{{ form.email|as_crispy_field }}</div>
                    <div class="form-group">
                        <button type="submit" class="primary-btn" style="width: 100%;">Send Reset Link</button>
                    </div>
                </form>
                <div class="login-footer">
                    <a href="{% url 'login-view' %}">Back to Login</a>
                    <a href="{% url 'register-view' %}">Create New Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /PASSWORD RESET SECTION -->
{% include "dashboard/footnote.html" %}
