{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Electro - HTML Ecommerce Template</title>
        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
              rel="stylesheet">
        <!-- Bootstrap -->
        <link type="text/css"
              rel="stylesheet"
              href="{% static "dashboard/css/bootstrap.min.css" %}" />
        <!-- Slick -->
        <link type="text/css"
              rel="stylesheet"
              href="{% static "dashboard/css/slick.css" %}" />
        <link type="text/css"
              rel="stylesheet"
              href="{% static "dashboard/css/slick-theme.css" %}" />
        <!-- nouislider -->
        <link type="text/css"
              rel="stylesheet"
              href="{% static "dashboard/css/nouislider.min.css" %}" />
        <!-- Font Awesome Icon -->
        <link rel="stylesheet"
              href="{% static "dashboard/css/font-awesome.min.css" %}">
        <!-- Custom stlylesheet -->
        <link type="text/css"
              rel="stylesheet"
              href="{% static "dashboard/css/style.css" %}" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>
    <body>
        <!-- HEADER -->
        <header>
            <!-- TOP HEADER -->
            <div id="top-header">
                <div class="container">
                    <ul class="header-links pull-left">
                        <li>
                            <a><i class="fa fa-phone"></i> +021-95-51-84</a>
                        </li>
                        <li>
                            <a><i class="fa fa-envelope-o"></i> email@email.com</a>
                        </li>
                        <li>
                            <a><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a>
                        </li>
                    </ul>
                    <ul class="header-links pull-right">
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url "account-view" %}"><i class="fa fa-user-o"></i> My Account</a>
                            </li>
                            {% if user.is_manager or user.is_superuser %}
                                <li>
                                    <a href="{% url "management-view" %}"><i class="fa fa-address-book"></i> Admin Panel</a>
                                </li>
                            {% endif %}
                            <li>
                                <form action="{% url "logout-view" %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">
                                        <i class="fa fa-sign-out"></i> Logout
                                    </button>
                                </form>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url "login-view" %}"><i class="fa fa-sign-in"></i> Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- /TOP HEADER -->
            <!-- MAIN HEADER -->
            <div id="header">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <!-- LOGO -->
                        <div class="col-md-3">
                            <div class="header-logo">
                                <a href="{% url "home-view" %}" class="logo">
                                    <img src="./img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- /LOGO -->
                        <!-- SEARCH BAR -->
                        <div class="col-md-6">
                            <div class="header-search">
                                <form action="{% url "global-search" %}" method="get">
                                    <input class="input" type="text" name="query" placeholder="Search here">
                                    <button class="search-btn">Search</button>
                                </form>
                            </div>
                        </div>
                        <!-- /SEARCH BAR -->
                        <!-- ACCOUNT -->
                        <div class="col-md-3 clearfix">
                            <div class="header-ctn">
                                <!-- Wishlist -->
                                <div>
                                    <a href="{% url "wishlist-view" %}">
                                        <i class="fa fa-heart-o"></i>
                                        <span>Your Wishlist</span>
                                        <div class="qty">{{ wishlist_items|length }}</div>
                                    </a>
                                </div>
                                <!-- /Wishlist -->
                                <!-- Cart -->
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Your Cart</span>
                                        <div class="qty cart-count">{{ cart|length }}</div>
                                    </a>
                                    <div class="cart-dropdown">
                                        <div class="cart-list" id="cart-items-container">{% include 'partials/cart_items.html' %}</div>
                                        <div class="cart-summary">
                                            <small class="cart-count-text">{{ cart|length }} Item(s) selected</small>
                                            <h5>
                                                SUBTOTAL: <span class="cart-total">{{ cart.get_total_price }}</span>
                                            </h5>
                                        </div>
                                        <div class="cart-btns">
                                            {% if checkout_enabled %}
                                                <a href="{% url "cart-view" %}" id="view-cart-btn">View Cart</a>
                                                <a href="{% url "checkout-login" %}" id="checkout-btn">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                            {% else %}
                                                <a href="{% url "cart-view" %}" id="view-cart-btn" class="disabled">View Cart</a>
                                                <a href="{% url "checkout-login" %}" id="checkout-btn" class="disabled">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- /Cart -->
                            </div>
                        </div>
                        <!-- /ACCOUNT -->
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
            <!-- /MAIN HEADER -->
        </header>
        <!-- /HEADER -->
        <!-- NAVIGATION -->
        <nav id="navigation">
            <!-- container -->
            <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                    <!-- NAV -->
                    <ul class="main-nav nav navbar-nav">
                        <li>
                            <a href="{% url "home-view" %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url "product-view" %}">All categories</a>
                        </li>
                        {% for category in categories %}
                            <li>
                                <a href="{% url "product-view" %}?category={{ category.id }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
        <!-- /NAVIGATION -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
        <!-- NEWSLETTER -->
        <div id="newsletter" class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="newsletter">
                            <p>
                                Sign Up for the <strong>NEWSLETTER</strong>
                            </p>
                            <form method="POST" action="{% url "subscribe-newsletter" %}">
                                {% csrf_token %}
                                <input class="input"
                                       type="email"
                                       name="email"
                                       placeholder="Enter Your Email"
                                       required>
                                <button class="newsletter-btn" type="submit">
                                    <i class="fa fa-envelope"></i> Subscribe
                                </button>
                            </form>
                            <ul class="newsletter-follow">
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /NEWSLETTER -->
        <!-- FOOTER -->
        <footer id="footer">
            <!-- top footer -->
            <div class="section">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="footer">
                                <h3 class="footer-title">About Us</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                                <ul class="footer-links">
                                    <li>
                                        <i class="fa fa-map-marker"></i>1734 Stonecoal Road</a>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>+021-95-51-84</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>email@email.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="footer">
                    <h3 class="footer-title">Categories</h3>
                    <ul class="footer-links">
                        {% for category in categories %}
                            <li>
                                <a href="{% url "product-view" %}?category={{ category.id }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-md-3 col-xs-6">
                <div class="footer">
                    <h3 class="footer-title">Information</h3>
                    <ul class="footer-links">
                        <li>
                            <a href="{% url "about-view" %}">About Us</a>
                        </li>
                        <li>
                            <a href="{% url "contact-view" %}">Contact Us</a>
                        </li>
                        <li>
                            <a href="{% url "policy-view" %}">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="{% url "returns-view" %}">Orders and Returns</a>
                        </li>
                        <li>
                            <a href="{% url "terms-view" %}">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="footer">
                    <h3 class="footer-title">Service</h3>
                    <ul class="footer-links">
                        <li>
                            <a href="{% url "cart-view" %}">View Cart</a>
                        </li>
                        <li>
                            <a href="{% url "wishlist-view" %}">Wishlist</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url "order-history-view" %}">Order History</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url "help-view" %}">Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /top footer -->
<!-- bottom footer -->
<div id="bottom-footer" class="section">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </span>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
<!-- jQuery Plugins -->
<script src="{% static "dashboard/js/jquery.min.js" %}"></script>
<script src="{% static "dashboard/js/bootstrap.min.js" %}"></script>
<script src="{% static "dashboard/js/slick.min.js" %}"></script>
<script src="{% static "dashboard/js/nouislider.min.js" %}"></script>
<script src="{% static "dashboard/js/jquery.zoom.min.js" %}"></script>
<script src="{% static "dashboard/js/main.js" %}"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>
