{% extends "dashboard/base.html" %}
{% block content %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- shop -->
                {% for category in category_display %}
                    <div class="col-md-4 col-xs-6">
                        <div class="shop">
                            <div class="shop-img">
                                <img src="{{ category.photo.url }}" alt="">
                            </div>
                            <div class="shop-body">
                                <h3>
                                    {{ category.name }}
                                    <br>
                                    Collection
                                </h3>
                                <a href="{% url "product-view" %}?category={{ category.id }}"
                                   class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- /shop -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">New Products</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                {% for category in categories %}
                                    {% if forloop.counter == 1 %}
                                        <li class ="active">
                                            <a data-toggle="tab" href="#tab{{ category.id }}_1">{{ category.name }}</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a data-toggle="tab" href="#tab{{ category.id }}_1">{{ category.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /section title -->
                <!-- Products tab & slick -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            {% for category in categories %}
                                <!-- tab -->
                                {% if forloop.counter == 1 %}
                                    <div id="tab{{ category.id }}_1" class="tab-pane active">
                                    {% else %}
                                        <div id="tab{{ category.id }}_1" class="tab-pane fade">
                                        {% endif %}
                                        <div class="products-slick" data-nav="#slick-nav-1">
                                            <!-- product -->
                                            {% for product in new_products %}
                                                {% if product.category == category %}
                                                    <div class="product">
                                                        <div class="product-img">
                                                            {% for photo in product.main_images %}
                                                                {% if photo.product == product %}<img src="{{ photo.photo.url }}" alt="">{% endif %}
                                                            {% endfor %}
                                                            <div class="product-label">
                                                                {% if product.is_sale %}
                                                                    <span class="sale">-{{ product.sale_percentage }}%</span>
                                                                {% endif %}
                                                                {% if product.newer_than_x_days %}<span class="new">NEW</span>{% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="product-body">
                                                            <p class="product-category">{{ category.name }}</p>
                                                            <h3 class="product-name">
                                                                <a href="{% url "detail-view" product.id %}">{{ product.name }}</a>
                                                            </h3>
                                                            {% if product.is_sale %}
                                                                <h4 class="product-price">
                                                                    {{ product.price }} <del class="product-old-price">{{ product.old_price }}</del>
                                                                </h4>
                                                            {% else %}
                                                                <h4 class="product-price">{{ product.price }}</h4>
                                                            {% endif %}
                                                            <div class="product-rating">
                                                                {% for number in rating_options %}
                                                                    {% if number > product.average_rating %}
                                                                        <i class="fa fa-star-o"></i>
                                                                    {% else %}
                                                                        <i class="fa fa-star"></i>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                            <div class="product-btns">
                                                                {% if product.id in wishlist_items %}
                                                                    <i class="fa fa-heart"></i>
                                                                {% else %}
                                                                    <form action="{% url "wishlist-add" %}" method="post">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                                                        <button class="add-to-wishlist" type="submit">
                                                                            <i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                                                                        </button>
                                                                    </form>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="add-to-cart">
                                                            <button class="add-to-cart-btn">
                                                                <i class="fa fa-shopping-cart"></i> add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- /product -->
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div id="slick-nav-1" class="products-slick-nav"></div>
                                    </div>
                                    <!-- /tab -->
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Products tab & slick -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->
        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12">
                        <div class="section-title">
                            <h3 class="title">Top selling</h3>
                            <div class="section-nav">
                                <ul class="section-tab-nav tab-nav">
                                    {% for category in categories %}
                                        {% if forloop.counter == 1 %}
                                            <li class ="active">
                                                <a data-toggle="tab" href="#tab{{ category.id }}_2">{{ category.name }}</a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a data-toggle="tab" href="#tab{{ category.id }}_2">{{ category.name }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /section title -->
                    <!-- Products tab & slick -->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="products-tabs">
                                {% for category in categories %}
                                    <!-- tab -->
                                    {% if forloop.counter == 1 %}
                                        <div id="tab{{ category.id }}_2" class="tab-pane active">
                                        {% else %}
                                            <div id="tab{{ category.id }}_2" class="tab-pane fade">
                                            {% endif %}
                                            <div class="products-slick" data-nav="#slick-nav-2">
                                                <!-- product -->
                                                {% for product in top_selling_products %}
                                                    {% if product.category == category %}
                                                        <div class="product">
                                                            <div class="product-img">
                                                                {% for photo in product.main_images %}
                                                                    {% if photo.product == product %}<img src="{{ photo.photo.url }}" alt="">{% endif %}
                                                                {% endfor %}
                                                                <div class="product-label">
                                                                    {% if product.is_sale %}
                                                                        <span class="sale">-{{ product.sale_percentage }}%</span>
                                                                    {% endif %}
                                                                    {% if product.newer_than_x_days %}<span class="new">NEW</span>{% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="product-body">
                                                                <p class="product-category">{{ category.name }}</p>
                                                                <h3 class="product-name">
                                                                    <a href="{% url "detail-view" product.id %}">{{ product.name }}</a>
                                                                </h3>
                                                                {% if product.is_sale %}
                                                                    <h4 class="product-price">
                                                                        {{ product.price }} <del class="product-old-price">{{ product.old_price }}</del>
                                                                    </h4>
                                                                {% else %}
                                                                    <h4 class="product-price">{{ product.price }}</h4>
                                                                {% endif %}
                                                                <div class="product-rating">
                                                                    {% for number in rating_options %}
                                                                        {% if number > product.average_rating %}
                                                                            <i class="fa fa-star-o"></i>
                                                                        {% else %}
                                                                            <i class="fa fa-star"></i>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="product-btns">
                                                                    {% if product.id in wishlist_items %}
                                                                        <i class="fa fa-heart"></i>
                                                                    {% else %}
                                                                        <form action="{% url "wishlist-add" %}" method="post">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                                                            <button class="add-to-wishlist" type="submit">
                                                                                <i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                                                                            </button>
                                                                        </form>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="add-to-cart">
                                                                <button class="add-to-cart-btn">
                                                                    <i class="fa fa-shopping-cart"></i> add to cart
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <!-- /product -->
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div id="slick-nav-2" class="products-slick-nav"></div>
                                        </div>
                                        <!-- /tab -->
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- /Products tab & slick -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /SECTION -->
            <!-- SECTION -->
            <div class="section">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-4 col-xs-6">
                            <div class="section-title">
                                <h4 class="title">Recommended</h4>
                                <div class="section-nav">
                                    <div id="slick-nav-3" class="products-slick-nav"></div>
                                </div>
                            </div>
                            <div class="products-widget-slick" data-nav="#slick-nav-3">
                                <div>
                                    {% for product in top_rated_products %}
                                        <!-- product widget -->
                                        <div class="product-widget">
                                            <div class="product-img">
                                                {% for photo in product.main_images %}
                                                    {% if photo.product == product %}<img src="{{ photo.photo.url }}" alt="">{% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">{{ product.category }}</p>
                                                <h3 class="product-name">
                                                    <a href="{% url "detail-view" product.id %}">{{ product.name }}</a>
                                                </h3>
                                                {% if product.is_sale %}
                                                    <h4 class="product-price">
                                                        {{ product.price }} <del class="product-old-price">{{ product.old_price }}</del>
                                                    </h4>
                                                {% else %}
                                                    <h4 class="product-price">{{ product.price }}</h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- /product widget -->
                                        {% if forloop.counter == 3 %}
                                        </div>
                                        <div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="section-title">
                                <h4 class="title">Random</h4>
                                <div class="section-nav">
                                    <div id="slick-nav-4" class="products-slick-nav"></div>
                                </div>
                            </div>
                            <div class="products-widget-slick" data-nav="#slick-nav-4">
                                <div>
                                    {% for product in random_products %}
                                        <!-- product widget -->
                                        <div class="product-widget">
                                            <div class="product-img">
                                                {% for photo in product.main_images %}
                                                    {% if photo.product == product %}<img src="{{ photo.photo.url }}" alt="">{% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">{{ product.category }}</p>
                                                <h3 class="product-name">
                                                    <a href="{% url "detail-view" product.id %}">{{ product.name }}</a>
                                                </h3>
                                                {% if product.is_sale %}
                                                    <h4 class="product-price">
                                                        {{ product.price }} <del class="product-old-price">{{ product.old_price }}</del>
                                                    </h4>
                                                {% else %}
                                                    <h4 class="product-price">{{ product.price }}</h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- /product widget -->
                                        {% if forloop.counter == 3 %}
                                        </div>
                                        <div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-sm visible-xs"></div>
                        <div class="col-md-4 col-xs-6">
                            <div class="section-title">
                                <h4 class="title">Best discounts</h4>
                                <div class="section-nav">
                                    <div id="slick-nav-5" class="products-slick-nav"></div>
                                </div>
                            </div>
                            <div class="products-widget-slick" data-nav="#slick-nav-5">
                                <div>
                                    {% for product in discounted_products %}
                                        <!-- product widget -->
                                        <div class="product-widget">
                                            <div class="product-img">
                                                {% for photo in product.main_images %}
                                                    {% if photo.product == product %}<img src="{{ photo.photo.url }}" alt="">{% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">{{ product.category }}</p>
                                                <h3 class="product-name">
                                                    <a href="{% url "detail-view" product.id %}">{{ product.name }}</a>
                                                </h3>
                                                <h4 class="product-price">
                                                    {{ product.price }} <del class="product-old-price">{{ product.old_price }}</del>
                                                </h4>
                                            </div>
                                        </div>
                                        <!-- /product widget -->
                                        {% if forloop.counter == 3 %}
                                        </div>
                                        <div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /SECTION -->
        {% endblock %}
