{% extends "dashboard/base.html" %}
{% block content %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">All Categories</a>
                        </li>
                        <li>
                            <a href="#">Accessories</a>
                        </li>
                        <li class="active">Headphones (227,490 Results)</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                    <form method="get" id="filter-form">
                        {#        {% for field in filter.form %}#}
                        {#            {% if field.name != 'min_price' and field.name != 'max_price' %}#}
                        {#                <div class="form-group">#}
                        {#                    {{ field.label_tag }}#}
                        {#                    {{ field }}#}
                        {#                </div>#}
                        {#            {% endif %}#}
                        {#        {% endfor %}#}
                        <div class="aside">
                            <h3 class="aside-title">Categories</h3>
                            <div class="checkbox-filter">
                                {% for choice in filter.form.category %}
                                    <div class="input-checkbox">
                                        {{ choice.tag }}
                                        <label for="{{ choice.id_for_label }}">
                                            <span></span>
                                            {{ choice.choice_label }}
                                            <small>({{ choice.products.count }})</small>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="aside">
                            <h3 class="aside-title">Price</h3>
                            <div class="price-filter">
                                <div id="price-slider"></div>
                                <div class="input-number price-min">
                                    <input id="price-min" name="min_price" type="number">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                                <span>-</span>
                                <div class="input-number price-max">
                                    <input id="price-max" name="max_price" type="number">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>
                        </div>
                        <div class="aside">
                            <h3 class="aside-title">Brands</h3>
                            <div class="checkbox-filter">
                                {% for choice in filter.form.brand %}
                                    <div class="input-checkbox">
                                        {{ choice.tag }}
                                        <label for="{{ choice.id_for_label }}">
                                            <span></span>
                                            {{ choice.choice_label | upper }}
                                            <small>({{ choice.products.count }})</small>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="aside">
                            <div class="button-div">
                                <input type="submit" value="Filter">
                            </div>
                        </div>
                    </form>
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Top selling</h3>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product01.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name">
                                    <a href="#">product name goes here</a>
                                </h3>
                                <h4 class="product-price">
                                    $980.00 <del class="product-old-price">$990.00</del>
                                </h4>
                            </div>
                        </div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product02.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name">
                                    <a href="#">product name goes here</a>
                                </h3>
                                <h4 class="product-price">
                                    $980.00 <del class="product-old-price">$990.00</del>
                                </h4>
                            </div>
                        </div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product03.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name">
                                    <a href="#">product name goes here</a>
                                </h3>
                                <h4 class="product-price">
                                    $980.00 <del class="product-old-price">$990.00</del>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->
                </div>
                <!-- /ASIDE -->
                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <label>
                                Sort By:
                                <select class="input-select">
                                    <option value="0">Popular</option>
                                    <option value="1">Position</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <!-- /store top filter -->
                    <!-- store products -->
                    <div class="row">
                        <!-- product -->
                        {% for product in products %}
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    <div class="product-img">
                                        {% for photo in product.images.all %}
                                            {% if photo.is_main_photo %}<img src="{{ photo.photo.url }}" alt="">{% endif %}
                                        {% endfor %}
                                        <div class="product-label">
                                            <span class="sale">-30%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">{{ product.category.name }}</p>
                                        <h3 class="product-name">
                                            <a href="#">{{ product.name }}</a>
                                        </h3>
                                        <h4 class="product-price">
                                            {{ product.price }} <del class="product-old-price">$990.00</del>
                                        </h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist">
                                                <i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                                            </button>
                                            <button class="add-to-compare">
                                                <i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                                            </button>
                                            <button class="quick-view">
                                                <i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <form action="{% url "product-add" %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                            <button class="add-to-cart-btn" type="submit">
                                                <i class="fa fa-shopping-cart"></i> add to cart
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /product -->
                        {% endfor %}
                    </div>
                    <!-- /store products -->
                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">
                        <span class="store-qty">Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ paginator.count }} products</span>
                        {% if page_obj.has_other_pages %}
                            <ul class="store-pagination">
                                {% if page_obj.has_previous %}
                                    <li>
                                        <a href="{% querystring page=page_obj.previous_page_number %}"><i class="fa fa-angle-left"></i></a>
                                    </li>
                                    <li>
                                        <a href="{% querystring page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                                    </li>
                                {% endif %}
                                <li class="active">{{ page_obj.number }}</li>
                                {% if page_obj.has_next %}
                                    <li>
                                        <a href="{% querystring page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                                    </li>
                                    <li>
                                        <a href="{% querystring page=page_obj.next_page_number %}"><i class="fa fa-angle-right"></i></a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
{% endblock %}
