{% extends "dashboard/base.html" %}
{% load product_tags %}
{% block content %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li>
                            <a href="{% url "home-view" %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url "product-view" %}">All Categories</a>
                        </li>
                        <li>
                            <a href="{% url "product-view" %}?category={{ product.category.id }}">{{ product.category.name }}</a>
                        </li>
                        <li class="active">{{ product.name }}</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        {% for photo in product.images.all %}
                            <div class="product-preview">
                                <img src="{{ photo.photo.url }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /Product main img -->
                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        {% for photo in product.images.all %}
                            <div class="product-preview">
                                <img src="{{ photo.photo.url }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /Product thumb imgs -->
                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">{{ product.name }}</h2>
                        <div>
                            <div class="product-rating">
                                {% for number in rating_options %}
                                    {% if number > review_aggregations.average_rating %}
                                        <i class="fa fa-star-o"></i>
                                    {% else %}
                                        <i class="fa fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <a class="review-link" href="#">{{ review_aggregations.review_count }} Review(s) | Add your review</a>
                        </div>
                        <div>
                            {% if product.is_sale %}
                                <h3 class="product-price">
                                    {{ product.price }} <del class="product-old-price">{{ product.old_price }}</del>
                                </h3>
                            {% else %}
                                <h3 class="product-price">{{ product.price }}</h3>
                            {% endif %}
                            {% if product.quantity > 0 %}<span class="product-available">In Stock</span>{% endif %}
                        </div>
                        <p>{{ product.description }}</p>
                        <div class="product-options">
                            <label>
                                Size
                                <select class="input-select">
                                    <option value="0">X</option>
                                </select>
                            </label>
                            <label>
                                Color
                                <select class="input-select">
                                    <option value="0">Red</option>
                                </select>
                            </label>
                        </div>
                        <div class="add-to-cart">
                            <div class="qty-label">
                                Qty
                                <div class="input-number">
                                    <input type="number">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>
                            <button class="add-to-cart-btn">
                                <i class="fa fa-shopping-cart"></i> add to cart
                            </button>
                        </div>
                        {% if product.id not in wishlist_items %}
                            <div class="product-btns">
                                <form action="{% url 'wishlist-add' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <button type="submit" class="add-to-wishlist">
                                        <i class="fa fa-heart-o"></i>
                                        <span class="product-btn-text">add to wishlist</span>
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                        <ul class="product-links">
                            <li>Category:</li>
                            <li>
                                <a href="{% url "product-view" %}?category={{ product.category.id }}">{{ product.category.name }}</a>
                            </li>
                        </ul>
                        <ul class="product-links">
                            <li>Share:</li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /Product details -->
                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active">
                                <a data-toggle="tab" href="#tab1">Description</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab2">Details</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab3">Reviews ({{ review_aggregations.review_count }})</a>
                            </li>
                        </ul>
                        <!-- /product tab nav -->
                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1  -->
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>{{ product.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab1  -->
                            <!-- tab2  -->
                            <div id="tab2" class="tab-pane fade in">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>{{ product.details }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab2  -->
                            <!-- tab3  -->
                            <div id="tab3" class="tab-pane fade in">
                                <div class="row">
                                    <!-- Rating -->
                                    <div class="col-md-3">
                                        <div id="rating">
                                            <div class="rating-avg">
                                                <span>{{ review_aggregations.average_rating|floatformat:"1" }}</span>
                                                <div class="rating-stars">
                                                    {% for number in rating_options %}
                                                        {% if number > review_aggregations.average_rating %}
                                                            <i class="fa fa-star-o"></i>
                                                        {% else %}
                                                            <i class="fa fa-star"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <ul class="rating">
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div style="{% get_review_percentage_5 product.id %}"></div>
                                                    </div>
                                                    <span class="sum">{% get_review_count_5 product.id %}</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div style="{% get_review_percentage_4 product.id %}"></div>
                                                    </div>
                                                    <span class="sum">{% get_review_count_4 product.id %}</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div style="{% get_review_percentage_3 product.id %}"></div>
                                                    </div>
                                                    <span class="sum">{% get_review_count_3 product.id %}</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div style="{% get_review_percentage_2 product.id %}"></div>
                                                    </div>
                                                    <span class="sum">{% get_review_count_2 product.id %}</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div style="{% get_review_percentage_1 product.id %}"></div>
                                                    </div>
                                                    <span class="sum">{% get_review_count_1 product.id %}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Rating -->
                                    <!-- Reviews -->
                                    <div class="col-md-6">
                                        <div id="reviews">
                                            <ul class="reviews">
                                                {% for review in reviews %}
                                                    <li>
                                                        <div class="review-heading">
                                                            <h5 class="name">{{ review.author.username }}</h5>
                                                            <p class="date">{{ review.created_at }}</p>
                                                            <div class="review-rating">
                                                                {% for number in rating_options %}
                                                                    {% if number > review.rating %}
                                                                        <i class="fa fa-star-o"></i>
                                                                    {% else %}
                                                                        <i class="fa fa-star"></i>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="review-body">
                                                            <h5>{{ review.title }}</h5>
                                                            <p>{{ review.body }}</p>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            {% if page_obj.has_other_pages %}
                                                <ul class="reviews-pagination">
                                                    {% if page_obj.has_previous %}
                                                        <li>
                                                            <a href="{% querystring page=page_obj.previous_page_number %}"><i class="fa fa-angle-left"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="{% querystring page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                                                        </li>
                                                    {% endif %}
                                                    <li class="active">{{ page_obj.number }}</li>
                                                    {% if page_obj.has_next %}
                                                        <li>
                                                            <a href="{% querystring page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                                                        </li>
                                                        <li>
                                                            <a href="{% querystring page=page_obj.next_page_number %}"><i class="fa fa-angle-right"></i></a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- /Reviews -->
                                    <!-- Review Form -->
                                    {% if user.is_authenticated %}
                                        <div class="col-md-3">
                                            <div id="review-form">
                                                <form class="review-form" method="post">
                                                    {% csrf_token %}
                                                    {{ form.title }}
                                                    {{ form.body }}
                                                    <div class="input-rating">
                                                        <span>Your Rating:</span>
                                                        <div class="stars">
                                                            {% for choice in form.rating %}
                                                                {#                                                                <p> Choice {{ choice.choice_value }} - {{ choice.choice_label }}</p>#}
                                                                {{ choice.tag }}
                                                                <label for="{{ choice.id_for_label }}"></label>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="primary-btn">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                        {#                                                <input class="input" type="text" placeholder="Review Title">#}
                                        {#                                                <textarea class="input" placeholder="Your Review"></textarea>#}
                                        {#                                                <div class="input-rating">#}
                                        {#                                                    <span>Your Rating:</span>#}
                                        {#                                                    <div class="stars">#}
                                        {#                                                        <input id="star5" name="rating" value="5" type="radio">#}
                                        {#                                                        <label for="star5"></label>#}
                                        {#                                                        <input id="star4" name="rating" value="4" type="radio">#}
                                        {#                                                        <label for="star4"></label>#}
                                        {#                                                        <input id="star3" name="rating" value="3" type="radio">#}
                                        {#                                                        <label for="star3"></label>#}
                                        {#                                                        <input id="star2" name="rating" value="2" type="radio">#}
                                        {#                                                        <label for="star2"></label>#}
                                        {#                                                        <input id="star1" name="rating" value="1" type="radio">#}
                                        {#                                                        <label for="star1"></label>#}
                                        {#                                                    </div>#}
                                        {#                                                </div>#}
                                        {#                                                <button class="primary-btn">Submit</button>#}
                                    {% endif %}
                                    <!-- /Review Form -->
                                </div>
                            </div>
                            <!-- /tab3  -->
                        </div>
                        <!-- /product tab content  -->
                    </div>
                </div>
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- Section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3 class="title">Related Products</h3>
                    </div>
                </div>
                {% for item in related_products %}
                    <!-- product -->
                    <div class="col-md-3 col-xs-6">
                        <div class="product">
                            <div class="product-img">
                                {#								{% for photo in product.main_images %}#}
                                <img src="{{ item.main_photo.photo.url }}" alt="">
                                {#                                {% endfor %}#}
                                <div class="product-label">
                                    {% if item.product.is_sale %}
                                        <span class="sale">-{{ item.product.sale_percentage }}%</span>
                                    {% endif %}
                                    {% if item.product.newer_than_x_days %}<span class="new">NEW</span>{% endif %}
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">{{ item.product.category }}</p>
                                <h3 class="product-name">
                                    <a href="{% url "detail-view" item.product.id %}">{{ item.product.name }}</a>
                                </h3>
                                {% if item.product.is_sale %}
                                    <h4 class="product-price">
                                        {{ item.product.price }} <del class="product-old-price">{{ item.product.old_price }}</del>
                                    </h4>
                                {% else %}
                                    <h4 class="product-price">{{ item.product.price }}</h4>
                                {% endif %}
                                <div class="product-rating">
                                    {% for number in rating_options %}
                                        {% if number > item.product.average_rating %}
                                            <i class="fa fa-star-o"></i>
                                        {% else %}
                                            <i class="fa fa-star"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="product-btns">
                                    {% if product.id in wishlist_items %}
                                        <i class="fa fa-heart"></i>
                                    {% else %}
                                        <form action="{% url "wishlist-add" %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                            <button class="add-to-wishlist" type="submit">
                                                <i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <button class="add-to-cart-btn">
                                    <i class="fa fa-shopping-cart"></i> add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /product -->
                {% endfor %}
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /Section -->
    <script>
    document.addEventListener('DOMContentLoaded', function() {

    var storageKey = 'activeTab_product_{{ product.id }}';

    var savedTab = localStorage.getItem(storageKey);

    if (savedTab) {

        var allNavItems = document.querySelectorAll('.tab-nav li');
        var allTabPanes = document.querySelectorAll('.tab-pane');

        allNavItems.forEach(function(item) {
            item.classList.remove('active');
        });

        allTabPanes.forEach(function(pane) {
            pane.classList.remove('active', 'in');
        });

        var savedTabLink = document.querySelector('a[href="' + savedTab + '"]');
        var savedTabPane = document.querySelector(savedTab);

        if (savedTabLink && savedTabPane) {
            savedTabLink.parentElement.classList.add('active');
            savedTabPane.classList.add('active', 'in');
        }
    }

    var tabLinks = document.querySelectorAll('.tab-nav a[data-toggle="tab"]');
    tabLinks.forEach(function(link) {
        link.addEventListener('click', function(e) {
            var clickedTab = this.getAttribute('href');

            localStorage.setItem(storageKey, clickedTab);
        });
    });
    });

    </script>
{% endblock %}
